<html>
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
</head>
<body>
    <h2>Search A movie Title!</h2>
    <div id="search-view"></div>
    <div id="list"></div>

    <script id="search-template" type="text/x-handlebars-template">
        <form>
            <label>Search:
                <input id="search-text" type="text" placeholde="..search a film">
            </label>
            <label>Year:
                <input id="year" type="number"  min="1955" max="2014" placeholde="..search a film">
            </label>
            <button type="submit">Search</button>
        </form>
    </script>

    <script id="list-template" type="text/x-handlebars-template">
        {{#each results}}
            <p>Title: {{Title}}</p>
            <p>Year: {{Year}}</p>
        {{/each}}
    </script>

</body>

<script type="text/javascript" src="base-view.js"></script>
<script type="text/javascript" src="search-model.js"></script>
<script type="text/javascript" src="list-view.js"></script>
<script type="text/javascript" src="search-view.js"></script>
<script type="text/javascript" src="app.js"></script>

</html>